<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300"
  />
  <link rel="stylesheet" href="/nav.css" />
  <link rel="stylesheet" href="/footer.css" />
  <link rel="stylesheet" href="/closed.css" />
  <link rel="stylesheet" href="/about.css" />
  <link rel="stylesheet" href="/services.css" />
  <!-- Brand in title bar
  <link rel="icon" href="favicon.svg" type="image/svg+xml"> -->
  <title>RC rent car</title>
</head>
