
  <nav>
    
  <div id="menu-nav">
    <div id="navigation-bar">
 
      <div>
      <ul>
        <li ><a href="/"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="60" height="60"
          viewBox="0 0 172 172"
          style=" fill:#000000;"><g fill="none" fill-rule="none" stroke="none" stroke-width="none" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"></path><g fill="#22b960" fill-rule="evenodd" stroke="none" stroke-width="1"><path d="M86,17.2c-37.9948,0 -68.8,30.8052 -68.8,68.8c0,37.9948 30.8052,68.8 68.8,68.8c37.9948,0 68.8,-30.8052 68.8,-68.8c0,-37.9948 -30.8052,-68.8 -68.8,-68.8zM99.37587,107.6376h-50.19533l23.4436,-43.26947h50.19533z"></path></g><g fill="#25a65c" fill-rule="nonzero" stroke="none" stroke-width="1"><path d="M81.535,96.31l-4.48,-8.34h-4.84v8.34h-2.73v-20.62h6.82c2.32667,0 4.11333,0.53 5.36,1.59c1.25333,1.05333 1.88,2.59 1.88,4.61v0c0,1.28667 -0.34667,2.40667 -1.04,3.36c-0.69333,0.95333 -1.66,1.66667 -2.9,2.14v0l4.85,8.75v0.17zM72.215,77.93v7.82h4.18c1.34667,0 2.42,-0.35 3.22,-1.05c0.8,-0.7 1.2,-1.63667 1.2,-2.81v0c0,-1.27333 -0.38,-2.25 -1.14,-2.93c-0.76,-0.68 -1.86,-1.02333 -3.3,-1.03v0zM99.785,89.77h2.73c-0.25333,2.18 -1.05667,3.86333 -2.41,5.05c-1.35333,1.18 -3.15333,1.77 -5.4,1.77v0c-2.44,0 -4.39333,-0.87333 -5.86,-2.62c-1.46667,-1.74667 -2.2,-4.08333 -2.2,-7.01v0v-1.98c0,-1.91333 0.34333,-3.59667 1.03,-5.05c0.68,-1.45333 1.65,-2.57 2.91,-3.35c1.25333,-0.78 2.70667,-1.17 4.36,-1.17v0c2.18667,0 3.94333,0.61 5.27,1.83c1.32,1.22667 2.08667,2.92 2.3,5.08v0h-2.73c-0.23333,-1.64 -0.74333,-2.83 -1.53,-3.57c-0.79333,-0.73333 -1.89667,-1.1 -3.31,-1.1v0c-1.74,0 -3.10333,0.64 -4.09,1.92c-0.98667,1.28667 -1.48,3.11333 -1.48,5.48v0v2c0,2.24 0.47,4.02 1.41,5.34c0.93333,1.32 2.24,1.98 3.92,1.98v0c1.50667,0 2.66333,-0.34333 3.47,-1.03c0.81333,-0.68 1.35,-1.87 1.61,-3.57z"></path></g><path d="M59.485,106.59v-41.18h53.03v41.18z" fill="#ff0000" fill-rule="nonzero" stroke="#50e3c2" stroke-width="3" opacity="0"></path></g></svg></a></li>
        <li><a id="nav-link" href="/"><i class="fa fa-home"></i><span>Home</span></a></li>
        <li><a id="nav-link" href="/about"><i class="fa fa-user"></i><span>Contact Us</span></a></li>
      <li><a id="nav-link" href="/services"><i class="fa fa-book"></i> <span>Services</span></a></li>
      </ul>
    </div>
    </div>
  </nav>
  