<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="services">
      <h1>MISSION AND VALUES</h1>
      <h2>Read what RC® is all about!</h2>
      <h4>Our Vision</h4>
      <p>
        "We will lead our industry by defining service excellence and building
        unmatched customer loyalty."
      </p>
      <h4>Our Mission</h4>
      <p>
        "We will ensure a stress-free car rental experience by providing
        superior services that cater to our customers' individual needs...always
        conveying the 'We RC®' spirit with knowledge, caring and a passion for
        excellence."
      </p>

      <h4>Our Values</h4>
      <h4>Integrity</h4>
      <p>
        We will honor all commitments to our customers, employees and
        shareholders. We will conduct business with unwavering high standards of
        honesty, trust, professionalism and ethical behavior. We will
        communicate openly and frequently, sharing what we know, when we know
        it. Respect for the Individual We will treat each person with whom we
        work with respect, professionalism and dignity. We will communicate
        expectations to employees, and provide honest and timely feedback on
        performance. We will embrace a diversity of ideas, cultures,
        ethnicities, and backgrounds to enhance our promise and value to
        customers. We will provide career development opportunities for
        employees who show initiative, and performance results to help them
        individually manage their careers to maximize their potential. Quality
        We will place the interests of our customers first. We will be dedicated
        to providing an individualized rental experience that assures customer
        satisfaction and earns the unwavering loyalty of our customers We will
        ensure that the "We RC®" philosophy underlies everything we do and
        shines through in our service to customers. Teamwork We will work as one
        cohesive team from the smallest unit to the organization as a whole. We
        will develop and retain leaders who continually raise the bar, provide
        direction, remove barriers and empower people to successfully accomplish
        goals. We will maintain a caring and supportive work environment that
        fosters a sharing of ideas, skills and resources. Growth and
        Profitability We will be dedicated to continuous innovation and pursue
        new ideas and opportunities to accelerate profitable growth. We will
        deliver value in all we do to assure consistently high returns to our
        shareholders. We will recognize and reward excellent performance, which
        drives superior results. Community Responsibility We will be active
        participants in our communities and encourage employee involvement in
        civic and charitable activities. We will be role model business leaders
        in the countries and communities in which we operate. We will develop
        and implement business practices consistent with safeguarding the
        environment.
      </p>
    </div>
    <div class="pos-button d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-danger" type="button">Make a Reservation</button>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
