body {
    background: #e0e0e0;
    font: normal 300 18px "Roboto", sans-serif;
  }
 
  #menu-nav {
    max-width: 1200px;
    margin: 10px auto;
    background-color: #ecf0f1;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #navigation-bar ul {
    border-radius: 4px;
    
    overflow: hidden;
  }
  #navigation-bar li {
    float: left;
    width: 20%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar #nav-link {
    color: #848484;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding:  20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar #nav-link:hover {
    color: #e74c3c;
  }
  #navigation-bar #nav-link::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 80% ;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
  }
  #navigation-bar #nav-link:hover::before {
    right: 0;
    left: 0;
  }
   
  li {
   list-style: none;
   margin-left: 40px;
  }
 